.filter {
  position: relative;

  &__icon {
    font-size: 1.2rem;
    color: #04364a;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: rgb(229, 86, 4);
    }
  }

  &-dropdown {
    position: absolute;
    top: 100%;
    left: -4px;
    background-color: #f1f4f6f0;
    // border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1000;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    &::before {
      content: "";
      position: absolute;

      top: -5px;
      left: 10px;
      transform: rotate(45deg);
      width: 0;
      height: 0;
      border-left: 10px solid #f1f4f6f0;
      border-bottom: 10px solid #f1f4f6f0; 
      z-index: 1001;
    }

    .filter-item {
      display: flex;
      flex-direction: column;

      span {
        display: block;
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
        color: #333;
      }

      select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 0.9rem;
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #04364a;
        }
      }
    }
  }
}
