@use "./varaiable.scss" as *;
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../public//assets/Fonts/Roboto-Regular.eot) format("eot");
  src: url(../public//assets/Fonts/Roboto-Regular.ttf) format("ttf");
  src: url(../public//assets/Fonts/Roboto-Regular.woff) format("woff");
  src: url(../public//assets/Fonts/Roboto-Regular.woff2) format("woff2");
}
@font-face {
  font-family: roboto-bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../../public/assets/Fonts/Roboto-Bold.eot") format("eot");
  src: url("../../../public/assets/Fonts/Roboto-Bold.ttf") format("ttf");
  src: url("../../../public/assets/Fonts/Roboto-Bold.woff") format("woff");
  src: url("../../../public/assets/Fonts/Roboto-Bold.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // width: 100%;
  scroll-behavior: smooth;
}

input {
  display: flex;
  height: 100%;
  outline: none;
  border: none !important;
  background-color: transparent;
  padding: 0 8px;
  font-size: 1em;
  font-weight: 400;
  &::placeholder {
    font-size: 1em;
    font-weight: 500;
    color: lightgray;
  }
}

button {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  background-color: red;
  border: none;
  border-radius: 10px;
  height: 100%;
}

hr {
  height: 10px;
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
  // opacity: $opacity-high;
}
