$text-color: black;
$title-color: black;

$title-size: 16px;
$text-size: 14px;

$shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.07);
$shadow-ul: 0 3px 6px 0 rgba(0, 0, 0, 0.07), 0 4px 10px 0 rgba(0, 0, 0, 0.1),
  -2px -4px 19px -10px rgba(0, 0, 0, 0.6);
$shadow-top: -2px -6px 19px -10px rgba(0, 0, 0, 0.6);
