.sub-orgs-button {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  color: #1f2937;
  background-color: #f8fafc;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}
.DynamicListModal {
    h2{
        align-self: center;
    }
  .modal-content {
    align-items: flex-end;
    form{
          width: 100%;
    }
  }
  
}
